*.vo
*.vok
*.vos
*.glob
*.aux
.coq-native/
Makefile.coq
Makefile.coq.conf
.Makefile.coq.d
.lia.cache
.nia.cache
rack.ml
rack.mli
*.cmi
*.cmo
*.cmx
*.o
*.byte
*.native
rack_cli
rack_bench
test_rack
test_rack_prop
test_rack_extended
docs/
